<p>Hello <%= @owner.first_name %></p>
<p>You have recieved a new comment on your Post: <b><%= @post.title %></b>, from <%= @comment.user.first_name %></p>
<i><%= @comment.body %></i>
<p>Best Regards,</p>
<p>My Blog</p>
