
<div class="col-md-8 col-lg-8">
  <h1>All Blog Posts</h1>
</div>
<!-- search bar -->

  <div class="col-md-12 col-lg-12">

  <% @posts.each do |post| %>
    <div class="well col-md-4 post-thumb">
      <% if post.image.present? %>
        <p> <%= image_tag post.image.url(:smallish) %> </p>
      <% end %>
      <%=link_to post.title, post_path(post)%>
    </div>
      <% end %>

  </div>
