<h1>Search Results</h1>
<ul class="list-group">
  <%  @posts.each do |post| %>
    <li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
    <% end  %>
</ul>
<%= "#{@posts.count} items found" %>
